<div class="AcceptCookies" data-controller="acceptCookies">
  <p class="AcceptCookies-text">
    Denna sida använder <a href="#">cookies</a>.
  </p>
  <button class="Button Button--minor Button--accept AcceptCookies-acceptBtn js-AcceptCookies-acceptBtn">OK</button>
</div>
