<h1>Nu är våren här och många väljer då att göra bilen vårfin</h1>

<img src="<%= lorem.image('1064x500') %>" alt="Bildbeskrivning" class="u-aligncenter">

<div class="lead">
  <p>
    Nu är våren här och många väljer då att göra bilen vårfin genom tvätt.
    Men även om svenskarna vet att det är bättre för miljön att tvätta bilen
    i en biltvätt visar en färsk undersökning från Svenskt Vatten att 26 % av
    bilägarna i Sverige (37 % av de som bor i villa) tvättar bilen på gatan.
  </p>

  <p>
    Nu är våren här och många väljer då att göra bilen vårfin genom tvätt.
  </p>
</div>

<p>
  Nu är våren här och många väljer då att göra bilen vårfin genom tvätt. Men
  även om svenskarna vet att det är bättre för miljön att tvätta bilen i en
  biltvätt visar en färsk undersökning från <a href="#">Svenskt Vatten</a>
  att 26 % av bilägarna i Sverige (37 % av de som bor i villa) tvättar bilen
  på gatan.
</p>

<h2>Nu är våren här och många väljer då att göra bilen</h2>

<p>
  Nu är våren här och många väljer då att <b>göra bilen vårfin</b> genom
  tvätt. Men även om svenskarna vet att det är bättre för miljön att tvätta
  bilen i en biltvätt visar <i>en färsk undersökning</i> från Svenskt Vatten
  att 26 % av bilägarna i Sverige (37 % av de som bor i villa) tvättar bilen
  på gatan.
</p>

<p>
  Nu är våren här och många väljer då att göra bilen vårfin genom tvätt. Men
  även om svenskarna vet att det är bättre för miljön att tvätta bilen i en
  biltvätt visar en färsk undersökning från Svenskt Vatten att 26 % av
  bilägarna i Sverige (37 % av de som bor i villa) tvättar bilen på gatan.
</p>

<h3>Nu är våren här och många väljer då att göra bilen</h3>

<p>
  Nu är våren här och många väljer då att göra bilen vårfin genom tvätt. Men
  även om svenskarna vet att det är bättre för miljön att tvätta bilen i en
  biltvätt visar en färsk undersökning från Svenskt Vatten att 26 % av
  bilägarna i Sverige (37 % av de som bor i villa) tvättar bilen på gatan.
</p>

<h4>Nu är våren här och många väljer då att göra bilen</h4>

<p>
  Nu är våren här och många väljer då att göra bilen vårfin genom tvätt. Men
  även om svenskarna vet att det är bättre för miljön att tvätta bilen i en
  biltvätt visar en färsk undersökning från Svenskt Vatten att 26 % av
  bilägarna i Sverige (37 % av de som bor i villa) tvättar bilen på gatan.
</p>

<ul>
  <li>
    Nu är våren här och många väljer då att göra bilen vårfin genom tvätt.
  </li>
  <li>
    Men även om svenskarna vet att det är bättre för miljön.
  </li>
  <li>
    En färsk undersökning från Svenskt Vatten.
  </li>
</ul>

<ol>
  <li>
    Nu är våren här och många väljer då att göra bilen vårfin genom tvätt.
  </li>
  <li>
    Men även om svenskarna vet att det är bättre för miljön.
  </li>
  <li>
    En färsk undersökning från Svenskt Vatten.
  </li>
</ol>

<figure class="u-alignleft" style="max-width: 350px;"><%# max width should be same as image %>
  <img src="<%= lorem.image('700x360') %>" width="350" height="180" alt="Bildbeskrivning">
  <figcaption class="u-imageCaption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi, beatae.</figcaption>
</figure>

<h3>Nu är våren här och många väljer då att göra bilen</h3>

<p>
  Nu är våren här och många väljer då att göra bilen vårfin genom tvätt. Men
  även om svenskarna vet att det är bättre för miljön att tvätta bilen i en
  biltvätt visar en färsk undersökning från Svenskt Vatten att 26 % av
  bilägarna i Sverige (37 % av de som bor i villa) tvättar bilen på gatan.
</p>

<p>
  Nu är våren här och många väljer då att göra bilen vårfin genom tvätt. Men
  även om svenskarna vet att det är bättre för miljön att tvätta bilen i en
  biltvätt visar en färsk undersökning från Svenskt Vatten att 26 % av
  bilägarna i Sverige (37 % av de som bor i villa) tvättar bilen på gatan.
</p>

<img src="<%= lorem.image('700x360') %>" width="350" height="180" class="u-alignright" alt="Bildbeskrivning">

<h3>Nu är våren här och många väljer då att göra bilen</h3>

<p>
  Nu är våren här och många väljer då att göra bilen vårfin genom tvätt. Men
  även om svenskarna vet att det är bättre för miljön att tvätta bilen i en
  biltvätt visar en färsk undersökning från Svenskt Vatten att 26 % av
  bilägarna i Sverige (37 % av de som bor i villa) tvättar bilen på gatan.
</p>

<p>
  Nu är våren här och många väljer då att göra bilen vårfin genom tvätt. Men
  även om svenskarna vet att det är bättre för miljön att tvätta bilen i en
  biltvätt visar en färsk undersökning från Svenskt Vatten att 26 % av
  bilägarna i Sverige (37 % av de som bor i villa) tvättar bilen på gatan.
</p>

<img src="<%= lorem.image('700x360') %>" width="350" height="180" class="u-aligncenter" alt="Bildbeskrivning">

<p>
  Nu är våren här och många väljer då att göra bilen vårfin genom tvätt. Men
  även om svenskarna vet att det är bättre för miljön att tvätta bilen i en
  biltvätt visar en färsk undersökning från Svenskt Vatten att 26 % av
  bilägarna i Sverige (37 % av de som bor i villa) tvättar bilen på gatan.
</p>

<table>
  <thead>
    <tr>
      <th>Header 1</th>
      <th>Header 2</th>
      <th>Header 3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Row:1 Cell:1</td>
      <td>Row:1 Cell:2</td>
      <td>Row:1 Cell:3</td>
    </tr>
    <tr>
      <td>Row:2 Cell:1</td>
      <td>Row:2 Cell:2</td>
      <td>Row:2 Cell:3</td>
    </tr>
    <tr>
      <td>Row:3 Cell:1</td>
      <td>Row:3 Cell:2</td>
      <td>Row:3 Cell:3</td>
    </tr>
  </tbody>
</table>
