<ul class="MainNav-tabs">
  <li class="MainNav-tab<%= is_section?('private') ? ' MainNav-tab--is-current' : '' %>">
    <a href="/start-privat.html" class="MainNav-tabLink">Privat</a>
  </li>
  <li class="MainNav-tab<%= is_section?('company') ? ' MainNav-tab--is-current' : '' %>">
    <a href="/start-foretag.html" class="MainNav-tabLink">Företag</a>
  </li>
  <li class="MainNav-tab<%= is_section?('about') ? ' MainNav-tab--is-current' : '' %>">
    <a href="/start-om-preem.html" class="MainNav-tabLink">Om Preem</a>
  </li>
</ul>
