<form class="Search u-pusher js-u-pusher" action="/sokresultat.html" method="get" data-controller="search">
  <div class="Search-inner">
    <label class="Search-label" for="header-search">Sök</label>
    <input class="Search-field js-Search-field" id="header-search" type="search" placeholder="Skriv in ett sökord">
    <button class="Search-submit u-icon-search" type="submit">
      <span class="Search-submitInner">Sök</span>
    </button>
  </div>
</form>
