@mixin wrapper {
  position: relative;
  max-width: $u-wrapper-max-width;
  margin: 0 auto;
  @include breakpoint(0 $to-small) {
    padding-left: $u-wrapper-zero-to-small-padding;
    padding-right: $u-wrapper-zero-to-small-padding;
  }
  @include breakpoint($small $to-medium) {
    padding-left: $u-wrapper-small-to-medium-padding;
    padding-right: $u-wrapper-small-to-medium-padding;
  }
  @include breakpoint($medium, $no-query: true) {
    padding-left: $u-wrapper-medium-and-up-padding;
    padding-right: $u-wrapper-medium-and-up-padding;
  }
}

@mixin reset-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin reset-button {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  outline: none;
  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }
}

@mixin opacity($opacity) {
  opacity: $opacity;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=" + ($opacity * 100) +")";
}

@mixin button-as-link($color, $fallback-color, $hover-color, $underline: false) {
  @include reset-button;
  color: $color;
  font: inherit;
  line-height: inherit;
  cursor: pointer;
  -moz-user-select: text;

  @if $underline {
    text-decoration: underline;
  }

  &:hover,
  &:focus {
    color: $hover-color;
  }
}

@mixin hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

@mixin gotham-condensed-bold($i: false) {
  @if $i == false {
    font-family: "Gotham Cond A", "Gotham Cond B", sans-serif;
  } @else {
    font-family: "Gotham Cond A", "Gotham Cond B", sans-serif !important;
  }
  font-weight: 600;
  font-style: normal;
}

@mixin sansserif-normal {
  font-family: "Arial", sans-serif;
  font-weight: 400;
}

@mixin sansserif-bold {
  font-family: "Arial", sans-serif;
  font-weight: 700;
}
