.u-clearfix {
  @include clearfix;
}

.u-wrapper {
  @include wrapper;
}

.u-pusher {
  @include breakpoint(0 $to-small) {
    @include transition(transform 0.3s ease-out);
    -webkit-backface-visibility: hidden; // Fix easing glitch
  }
}

.u-pusher--is-pushed {
  @include breakpoint(0 $to-small) {
    @include transform(translate3d($u-pusher-pushWidth, 0, 0));
  }
}

.u-group {
  @extend %clearfix;
  @include breakpoint(0 $to-small) {
    margin-bottom: $u-group-margin-mini;
  }
  @include breakpoint($small, $no-query: true) {
    margin-bottom: $u-group-margin;
  }
}

.u-alignleft {
  float: left;
  margin: 0 gutter() gutter() 0;
}

.u-alignright {
  float: right;
  margin: 0 0 gutter() gutter();
}

.u-aligncenter {
  margin: 0 auto gutter();
}

.u-imageCaption,
.u-meta {
  color: $grey-medium !important;
  font-size: 13px !important;
}

.u-imageCaption {
  margin: 10px 0 0;
}

.u-moreActionWrapper {
  text-align: right;
}

.u-moreAction {
  @include sansserif-bold;
  display: inline-block;
  position: relative;
  padding: 0 25px 0 0;
  font-size: 23px;
  color: $green;
  text-decoration: none;
  &:before {
    position: absolute;
    right: -4px;
    top: 9px;
    font-size: 18px;
  }
}

.u-telephone {
  white-space: nowrap;
}

.u-actionButton {
  @include reset-button;
}

.u-stretch {
  width: 100%;
}

.u-fbLikeBox {
  min-height: 300px;
}

.u-searchInputWrapper {
  position: relative;
  background: #fff;
  border-radius: 2px;

  &:before {
    position: absolute;
    z-index: 2;
    right: 1px;
    top: 1px;
    bottom: 1px;
    padding: 12px;
    color: $grey-medium;
    font-size: 18px;
    background: #fff;
    box-shadow: -10px 0 10px -5px #fff;
  }
}

.u-searchInput {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 42px;
  padding: 10px 12px;
  border: 1px solid $grey-light;
  border-radius: 2px;
  color: #000;
  font-size: 16px;
  background: transparent;
  -webkit-appearance: none; // Remove input shadow in safari on iOS
  .u-searchInputWrapper & {
    padding-right: 38px;
  }
  &:focus {
    outline: none;
    border-color: $green;
  }
  @include placeholder {
    color: $grey-dark;
  }
}

.u-highlight {
  background: $yellow;
}

.u-fullPage,
.u-fullPage body,
.u-fullPagePusher,
.u-fullPagePusher .Main {
  height: 100%;
}

.u-sectionHeadline {
  @include sansserif-bold;
  font-size: 23px;
  margin: 0 0 12px;
}

.u-inline {
  display: inline;
}



/**
 * Completely remove from the flow but leave available to screen readers.
 */

.u-isHiddenVisually {
    position: absolute !important;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
}
