<ul class="BlockLinks">
  <li class="BlockLinks-item"><a href="#" class="BlockLinks-link">Aktuella kampanjer</a></li>
  <li class="BlockLinks-item"><a href="#" class="BlockLinks-link">Oljeguiden</a></li>
  <li class="BlockLinks-item"><a href="#" class="BlockLinks-link">Mat &amp; dryck</a></li>
  <li class="BlockLinks-item"><a href="#" class="BlockLinks-link">Biltvätt</a></li>
  <li class="BlockLinks-item"><a href="#" class="BlockLinks-link">Sortiment i butiken</a></li>
  <li class="BlockLinks-item"><a href="#" class="BlockLinks-link">Bilvård</a></li>
  <li class="BlockLinks-item"><a href="#" class="BlockLinks-link">Service i butiken</a></li>
  <li class="BlockLinks-item"><a href="#" class="BlockLinks-link">Anslut kort</a></li>
  <li class="BlockLinks-item"><a href="#" class="BlockLinks-link">Produkter &amp; tjänster</a></li>
  <li class="BlockLinks-item"><a href="#" class="BlockLinks-link">Drivmedelspriser</a></li>
</ul>
