<ul class="Checklist">
  <li class="Checklist-item u-icon-check">Släputhyrning</li>
  <li class="Checklist-item u-icon-check">Biluthyrning</li>
  <li class="Checklist-item u-icon-check">Anpassad för 24 meters-fordon</li>
  <li class="Checklist-item u-icon-check">Biltvätt</li>
  <li class="Checklist-item u-icon-check">Tvätta själv-hall</li>
</ul>
