<div class="ContentBlock ContentBlock--<%= color %> Article">
  <header class="ContentBlock-header<%= icon.present? ? " ContentBlock-header--icon u-icon-#{icon}" : '' %>">
    <h3 class="ContentBlock-headline">En lång rubrik som brytas på flera rader</h3>
  </header>
  <div class="ContentBlock-content">
    <p>
      Voluptates molestias aut ut natus molestias ex sequi voluptas ipsum culpa
      laborum voluptates nihil exercitationem
    </p>
  </div>
</div>
