<div class="FeaturedBlock">
  <a href="#"><img src="<%= lorem.image('510x260') %>" class="FeaturedBlock-image" alt="Bildbeskrivning"></a>

  <h3 class="FeaturedBlock-headline"><a href="#"><%= headline %></a></h3>

  <div class="Article FeaturedBlock-text">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet.</p>
  </div>
</div>
