<div class="Notice<%= (defined? type) ? " Notice--#{type}" : '' %> u-icon-info" data-controller='[{"notice": {"id": 123}}]'>
  <button class="CloseBtn CloseBtn--no-text Notice-close js-Notice-close"><span>Stäng</span></button>

  <p>Vid besvärande rök eller lukt bör man <a href="#">skydda sig</a> genom att gå inomhus, stänga dörrar och fönster samt om möjligt stoppa ventilationen.</p>
</div>
