<ul class="ProductList">
  <% 3.times do %>
    <li class="ProductList-item">
      <div class="ProductList-itemInner">
        <img src="<%= lorem.image('250x250') %>" alt="Produkt" class="ProductList-image">

        <h3 class="ProductList-title">Pulled Pork</h3>

        <div class="ProductList-price">39 kr</div>
      </div>
    </li>
  <% end %>
</ul>
