<div class="ShareActions<%= on_color ? ' ShareActions--onColor' : '' %>">
  <ul class="ShareActions-list">
    <li class="ShareActions-item ShareActions-item--facebook">
      <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fexample.com%2F" class="u-icon-facebook js-trackLink" target="_blank" data-tracking-category="Share" data-tracking-action="Facebook" data-tracking-label="http://example.com">
        <span class="ShareActions-name">Facebook</span>
      </a>
    </li>
    <li class="ShareActions-item ShareActions-item--twitter">
      <a href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fexample.com%2F" class="u-icon-twitter js-trackLink" target="_blank" data-tracking-category="Share" data-tracking-action="Twitter" data-tracking-label="http://example.com">
        <span class="ShareActions-name">Twitter</span>
      </a>
    </li>
    <li class="ShareActions-item ShareActions-item--googleplus">
      <a href="http://plus.google.com/share?url=http%3A%2F%2Fexample.com%2F" class="u-icon-googleplus js-trackLink" target="_blank" data-tracking-category="Share" data-tracking-action="Google+" data-tracking-label="http://example.com">
        <span class="ShareActions-name">Google+</span>
      </a>
    </li>
  </ul>
</div>
