<div class="Slideshow Slideshow--onFirst" data-controller="slideshow">
  <div class="Slideshow-slider Slideshow-slider--is-loading js-Slideshow-slider">
    <ul class="Slideshow-list">
      <% 3.times do %>
        <li class="Slideshow-item"><%= partial 'partials/components/product_list' %></li>
      <% end %>
    </ul>
  </div>
</div>
