<div class="Table">
  <table>
    <thead class="Table-head">
      <tr>
        <th>Kontakt</th>
        <th>Öppettider</th>
        <th>Telefon</th>
      </tr>
    </thead>
    <tbody class="Table-body">
      <tr>
        <td>Preem Privatekort</td>
        <td>Mån-fre  08.00-17.00<br>Övrig tid</td>
        <td>0476-58 71 40<br>010-450 18 00</td>
      </tr>
      <tr>
        <td>Övriga kort</td>
        <td>Mån-fre 08.00-17.00<br>Övrig tid</td>
        <td>0476-58 71 40<br>010-450 18 00</td>
      </tr>
      <tr>
        <td>Preem Fördel</td>
        <td>Mån-fre  08.00-17.00<br>Övrig tid</td>
        <td>0476-58 71 40<br>010-450 18 00</td>
      </tr>
      <tr>
        <td>Spärra Preem Privatkort</td>
        <td>Mån-fre  08.00-17.00<br>Övrig tid</td>
        <td>0476-58 71 40<br>010-450 18 00</td>
      </tr>
    </tbody>
  </table>
</div>