---
title: Någonting gick fel | Preem
template: 500
---
<div class="Article">
  <h1 class="Error-headline">Någonting gick fel</h1>

  <p>Vi känner till problemet och jobbar på en lösning.</p>

  <ul>
    <li><a href="/start-privat.html">Gå till startsidan</a></li>
    <li><a href="javascript:history.back()">Gå till föregående sida</a></li>
  </ul>
</div>
