---
title: Kampanj | Preem
template: Kampanj
section: campaign
standalone: true
main_bleed: true
---
<%= partial 'partials/components/full', locals: { aligncenter: true, background_image: "/assets/images/hr.jpg", title: "Preem utnämnda till ett av Sveriges Karriär&shy;företag 2015", content: "Preem är för andra året i rad utnämnda av företaget Jobtip till ett av Sveriges mest spännande företag att göra karriär på. Vill du jobba för framtiden redan idag? Läs mer på våra karriärsidor!" } %>
<div class="u-wrapper">
  <h1>Kampanj</h1>
</div>
