html,
input,
button,
select,
textarea {
  @include sansserif-normal;
  color: $black-text;
  font-size: 15px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: $green;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

p,
ul,
ol {
  margin-top: 0;
  &:last-child {
    margin-bottom: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

::-moz-selection {
  background: $blue;
  color: #fff;
}

::selection {
  background: $blue;
  color: #fff;
}